/* ==========================================================================
   #TABS
   ========================================================================== */

.tabs {
  display: block;
}

.tab {
  cursor: pointer;
  
  .no-js & {
    display: none;
  }
}

.tabs-content__wrapper {

  .js & {
    display: none;
    opacity: 0;

    // @include basic-transition((opacity, transform));
  }
  
  &.is-active {

    .js & {
      display: block;
      opacity: 1;
      transform: scale(1);
      animation-name: showTab;
      animation-duration: .2s;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes showTab {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
