extends ../layouts/default

block variables
  - var pageTitle = 'Новость'
  - var bodyClass = 'inner-page'

block content
  include ../components/header/header
  main.wrapper.wrapper--inner
    .container
      img.dots.dots-top.dots-left(src="assets/img/content/dots-rectangle-dark.svg", alt="")
      +breadcrumbs(['Главная', 'Раздел', 'Страница'])
    .inner-layout
      include ../components/posts/article
  include ../components/footer/footer
