extends ../layouts/default

block variables
  - var pageTitle = 'Наши услуги'
  - var bodyClass = 'inner-page'

block content
  include ../components/header/header
  main.wrapper.wrapper--inner
    .container
      +breadcrumbs(['Главная', 'Раздел', 'Страница'])
    .inner-layout
      include ../components/services-top/services-top
      include ../components/quiz/quiz
      include ../components/action/action
      include ../components/guarantees/guarantees
      include ../components/plan/plan
      include ../components/features/features
      include ../components/serv-cases/serv-cases
      include ../components/questions/questions
  include ../components/footer/footer
