-
  var secrets = [
    {
      title: 'Скрупулезное внимание',
      text: 'Какой бы сложной не казалась вам ваша проблема, мы досконально разберемся в ней и сделаем всё по уму. Не потеряем ни какие документы, ни чего не забудем, все сделам вовремя.',
      icon: 'forefinger'
    },
    {
      title: 'Командная работа',
      text: 'Мы делаем упор не на одного "многопрофильного" юриста, а на командную работу. С вами работает рабочая группа из 3-4 человек. Результат – все всё успевают.',
      icon: 'man'
    },
    {
      title: 'Безопасность и конфиденциальность',
      text: 'Ваша частная информация не покинет пределов нашего офиса. Гарантируем!',
      icon: 'lock'
    },
    {
      title: 'Открытость',
      text: 'Вы равноценный участник нашей комнды. Мы максмально подробно объясняем наши действия и длячего они осуществляются. Вы не платите за кота в мешке.',
      icon: 'search'
    },
  ]
  