include ./secrets.data.pug

section.secrets.section
  .container
    .secrets__heading.heading
      .heading__module
        h2.heading__title Секреты успешной работы
        p.heading__subtitle На самом деле секретов нет – упорный труд и забота о клиенте
    +grid().secrets__grid
      each item in secrets
        +col({sm: 6}).secrets__cell
          .secrets-tile
            +icon(item.icon)
            .secrets-tile__body
              h3.secrets-tile__title= item.title
              p.secrets-tile__text= item.text
