-
  var features1 = [
    {
      text: `Сами делаем всё "под ключ". Банкротство - сложная процедура  и мы в ней делаем всё отлаженной  командой.`
    },
    {
      text: `В нашей команде 15 юристов,  а количество дел, достигает  80 в месяц, а за год  мы закрываем не менее 400 банкротств.`
    },
    {
      text: `Первая консультация всегда  бесплатная и с экспертом  по банкротству. Наверняка  будет очень полезной.`
    },
    {
      text: `Мы ценим своих клиентов,  встечаем в комфортаюельном  офисе или сами выезжаем  на встречу, экономя вам время`
    },
  ];

  var features2 = [
    {
      text: `Компания-посредник, передает  ваше банкростов сторонней  организации.`
    },
    {
      text: `Банкротство не профильное  направление, бывает 3-5 процедур  за год. Или всеми делами занимается 1 юрист, на которого свалили кучу дел.`
    },
    {
      text: `Вы общаетесь не с компетентным  юристом, а например, со стажером,  цель которого просто собрать с вас  сведения. Часто за это берут плату.`
    },
    {
      text: `Офис на окраине, на территории  завода. Встреча там где удобно  юристу. Экономят не ваше время,  а свои расходы.`
    },
  ];