footer.footer
  .container
    +grid().footer__grid
      +col({md: 3, xs: 6})
        a.logo-wrap.footer__logo-wrap(href="")
          img.logo.logo--footer(src="assets/img/general/logo.svg", alt="")
        .footer__copyright © 2020 Все права защищены.
        +messengers.footer__messengers
          +messengers-item
            +icon('email')
          +messengers-item
            +icon('telegram')
          +messengers-item
            +icon('phone-call')
          +messengers-item
            +icon('whatsapp')
          +messengers-item
            +icon('messenger')

      +col({md: 3, x: 6})
        ul.footer__contact-list.contact-list
          li.contact-item
            +icon('phone')
            a.contact-item__text(href="tel:+7 (495) 255-25-25") +7 (495) 255-25-25
          li.contact-item
            +icon('envelope-retro')
            a.contact-item__text(href="mailto:info@strateg.moscow") info@strateg.moscow
          li.contact-item
            +icon('placemark')
            .contact-item__text.
              123112, Россия, Москва,<br>
              Пресненская наб., 12,<br>
              ММДЦ «Москва Сити»,<br>
              Башня Федерация-Восток, 16&nbsp;этаж

      +col({md: 3, x: 6})
        ul.footer-menu
          li.footer-menu__item
            a(href="") Политика конфиденциальности
          li.footer-menu__item
            a(href="") Работа со СМИ
          li.footer-menu__item
            a(href="") Как к нам доехать
          li.footer-menu__item
            a(href="") Блог

      +col({md: 3, xs: 6})
        .footer__actions
          button.btn.btn--primary.btn--upper.btn--fz-sm.js-popup-question() Спросить стратега
          button.btn.btn--light.btn--upper.btn--fz-sm.js-popup-call() Обратный звонок

include ../modals/modals
