/* ==========================================================================
   #LAYOUT-OBJECT
   ========================================================================== */

.layout {
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.inner-layout {
  padding-top: 50px;
  padding-bottom: 120px;
}
