/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */

.wrapper {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  overflow: visible;
}