-
  var data = [
    {
      title: 'Cпасти репутацию и имущество Клиента стоимостью 70 млн руб.',
      text: 'Как избежать субсидиарной ответственности после продажи бизнеса.',
    },
    {
      title: 'Аналог налоговой проверки для строительной организации',
      text: 'Как сэкономить 45 млн руб. доначислений при выездной налоговой проверке',
    },
    {
      title: 'Как выкупить свои долги за 5% их реальной стоимости',
      text: 'Как сохранить свои активы с минимальными тратами во время банкротства',
    },
  ];
  