/* ==========================================================================
   #MAP
   ========================================================================== */

.map {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-image: url('../assets/img/backgrounds/map.png');
  @include background;

  @include mq($from: xl)  {
    height: 350px;
  }
  @include mq($from: lg)  {
    height: 450px;
  }
  @include mq($from: xl)  {
    height: 500px;
  }
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
