/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  z-index: 1000;
}

.mobile-nav__content {
  position: fixed;
  width: 78%;
  height: 100%;
  max-width: 300px;
  overflow-y: auto;
  z-index: 2;
  background-color: #fff;

  .mobile-nav.is-closed & {
    transform: translateX(-100%);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .7;
  z-index: 1;

  .mobile-nav.is-closed & {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0ms ease-out .3s, opacity .3s linear;
  }

  .mobile-nav.is-open & {
    opacity: .7;
    transform: translateX(0);
    transition: opacity .3s linear;
  }
}

.mobile-nav__body {
  padding: 0 1rem 2rem 1rem;
  font-size: 14px;

  >*:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-border-brand;
  }
}

.mobile-nav__head {
  display: flex;
  align-items: center;
  height: 80px;
  padding: .5rem 1rem .5rem 1rem;
}

.mobile-logo {
  width: 200px;
}

.mobile-menu a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  text-decoration: none;
}

.mobile-menu li > a {
  position: relative;
  padding-right: 12px;
}

.mobile-contact-list {

  li + li {
    margin-top: 8px;
  }
}

.mobile-nav__close {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}