/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card hr {
  border: 0;
  height: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid rgba(#D3D3D3, .5);

  @include mq($from: md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include mq($from: xl) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: 25px 30px;
}

.card-title {
  margin-bottom: 15px;
  line-height: 1.15;
}

.card-meta,
.card-comments {
  margin-bottom: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  .icon {
    margin-right: 8px;
  }
}

.card-meta .icon {
  font-size: 14px;
}

.card-comments {
  margin: 0;

  .icon {
    font-size: 12px;
  }
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  display: inline-block;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  // background-color: rgba(0, 0, 0, 0.03);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.card-footer {
  padding: 0.75rem 1.25rem;
  // background-color: rgba(0, 0, 0, 0.03);
  // border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}