/* ==========================================================================
   #DROPDOWN
   ========================================================================== */

// The dropdown wrapper (`<div>`)
.dropdown {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

// The dropdown menu
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 120px;
  padding: 16px 0;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  box-shadow: $global-shadow;
}


// When enabled Popper.js, reset basic dropdown position
// stylelint-disable-next-line no-duplicate-selectors
.dropdown-menu {
  &[x-placement^="top"],
  &[x-placement^="right"],
  &[x-placement^="bottom"],
  &[x-placement^="left"] {
    right: auto;
    bottom: auto;
  }
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: 8px 16px;
  clear: both;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s
}

.dropdown-menu.show {
  display: block;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 8px 16px;
  margin-bottom: 0; // for use with heading elements
  font-size: rem(14px);
  white-space: nowrap; // as with > li > a
}
