/* ==========================================================================
   #HEADINGS
   ========================================================================== */

.heading {
  display: flex;
  margin: -24px -15px 80px -15px;

  @include mq($until: sm) {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.heading__module {
  margin-top: 24px;
  padding-left: 15px;
  padding-right: 15px;

  > * + * {
    margin-top: 20px;
  }
}

.heading__module + .heading__module {

  @include mq($from: sm) {
    margin-left: 30px;
  }
  @include mq($from: md) {
    margin-left: 50px;
  }
  @include mq($from: lg) {
    margin-left: 80px;
  }
  @include mq($from: xl) {
    margin-left: 150px;
  }
}

.heading__subtitle {
  font-size: rem(14px);
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-body-secondary;
}

.heading__title {
  font-weight: normal;
  font-size: rem(24px);
  line-height: 1.15;

  @include mq($from: md) {
    font-size: rem(32px);
  }
}

.heading__desc {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding-left: 20px;

  @include mq($until: md) {
    font-size: rem(14px);
  }

  &::before {
    @include pseudo(true);
    top: 0.5em;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: $color-bg-brand;
  }
}

.heading--invert {
  .heading__subtitle,
  .heading__title,
  .heading__desc {
    color: #fff;
  }
}