/* ==========================================================================
   #FORM
   ========================================================================== */

.form {
  display: block;
}

.form__row {
  display: flex;
  flex-wrap: wrap;
}

.form__row--y-center {
  align-items: center;
}

.form__note {
  font-size: rem(13px);
  line-height: 1.4;

  @include mq($from: xs) {
    font-size: rem(14px);
  }
}