// #####
// Кастомные селекты
// #####

.select {
  @extend .input;

  display: block;
  max-width: 100%;
  padding-right: 40px;
  appearance: none;
  text-align: left;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L4.5 4L8 0.5' stroke='%23000' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 25px top 50%;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  outline: none;
}
.select option {
  font-weight: normal;
}

