/* ==========================================================================
   #CONTACT-INFO
   ========================================================================== */

.contact-info {
  padding-bottom: 50px;
}

.contact-info__grid {
  margin-top: -40px;

  @include mq($from: xl) {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.contact-info__cell {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include mq($from: xl) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.contact-info-tile {
  height: 100%;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 100px 80px rgba(0, 0, 0, 0.04);
}

.contact-info-tile__title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: rem(18px);
  line-height: 1.15;
  text-transform: uppercase;
}

.contact-info-tile a {
  color: $color-body-secondary;
}

.contact-info-tile__contact {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }


  a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: rem(16px);
    line-height: 1.15;
    color: #000;
    text-decoration: none;

    @include on-event {
      opacity: 0.7;
    }
  }
}

.contact-info-tile__contact-label {
  font-size: 14px;
  line-height: 100%;
  color: rgba(#000000, .5);
}

.contact-info__messengers {
  margin-bottom: 25px;


  .messengers__item {
    margin-right: 22px;
  
    &:last-child {
      margin-right: 0;
    }
  }


  .messengers__link {
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-color: #D3D3D3;
    color: $color-body;
    
    @include on-event {
      color: #fff;
      border-color: $color-border-brand;
    }
  }
}

.contact-info__flag .flag__body {
  font-size: rem(14px);
}
