/* ==========================================================================
   #CONTACT-BLOCK
   ========================================================================== */

.contact-block {
  padding-top: 50px;
}

.contact-block__grid {
  margin-top: -60px;
}

.contact-block__cell {
  margin-top: 60px;

  &:last-child {

    @include mq($from: lg) {
      padding-left: 80px;
    }
    @include mq($from: xl) {
      padding-left: 140px;
    }
  }
}

.contact-block__title {
  margin-bottom: 3rem;
  font-weight: normal;
  font-size: rem(32px);
  line-height: 1.15;

  @include mq($from: md) {
    margin-bottom: 56px;
  }
}

.contact-block__form {

  .inputbox {
    width: 100%;
    margin-top: 24px;

    @include mq($from: md) {
      margin-top: 28px;
    }
  }

  .form__row {
    margin-top: -24px;
    margin-left: -14px;
    margin-right: -14px;

    @include mq($until: xs) {
      flex-direction: column;
    }
    @include mq($from: md) {
      margin-top: -28px;
    }


    .inputbox {
      width: 100%;
      padding-left: 14px;
      padding-right: 14px;

      @include mq($from: xs) {
        width: 50%;
      }
    }
  }

  .input,
  .textarea {
    border-color: #DADADA;
  }

  .btn {
    margin-top: 40px;
  }
}

.contact-block__note {
  margin-bottom: 45px;
}

.contact-block__contact-list {

  .contact-item {
    padding-left: 38px;
  }

  .contact-item + .contact-item {
    margin-top: 30px;
  }

  .icon {
    top: 3px;
    font-size: 16px;
    color: $color-primary;
  }
}