-
  var guarantees = [
    {
      title: 'Конкретно для вас, в вашей сфере.',
      text: 'У нас два десятка специалистов. C вашим случаем будет гарантированно работать наш юрист или арб. управляющий, который хорошо представляет специфику вашего бизнеса.',
      note: 'Кроме того предложим несколько вариантов решения, объясним плюсы и минусы.'
    },
    {
      title: 'Не теряем и не забываем.',
      text: 'Используем автоматизированные системы учета. Всем документальным сопровождением занимаются отдельные сотрудники, которые всегда собирают полный пакет документов.',
      note: 'Все документы вовремя отправляют и проверяют получение.'
    },
    {
      title: 'Опыт, заработанный в "бою".',
      text: 'За 20 с лишним лет работы мы точно поняли, что формализм недопустим, каким бы простым не казалось дело. Постоянно участвуем в профильных конференциях.',
      note: 'Прводим внутренние обзоры юридической практики.'
    },
    {
      title: 'Умом Россию...',
      text: 'Умеем работать именно в нашем родном правовом поле  делаем это в любых регионах от Калининграда до Сахалина.',
      note: 'Ценные проверенные контрагенты практически по любым вопросам.'
    },
    {
      title: 'Такое есть только у нас.',
      text: 'Служба сопровождения 24/7 и психологическая поддержка. Неважно в каком часовом поясе вы в данный момент. Мы оперативно отреагируем на все ваши обращения.',
      note: 'Поддержим и поможем в любой ситуации.'
    },
    {
      title: 'Экономим вам время.',
      text: 'Работаем, как требуют соврменные скорости принятия решений.  Удаленное взаимодействие – скайп, телефон, WhatsApp.',
      note: 'Сами приедем к вам офис, в удобное для вас время.'
    },
  ];
