/* ==========================================================================
   #GUARANTEES
   ========================================================================== */

.guarantees {
  padding-top: 80px;
  padding-bottom: 60px;

  @include mq($from: lg) {
    padding-top: 120px;
  }
}

.guarantees__grid {
  position: relative;
  margin-top: -40px;
}

.guarantees__cell {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.guarantees-tile {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: $global-shadow;
  @include basic-transition((background-color, color));

  &:hover {
    color: #fff;
    background-color: $color-bg-dark;
  }

  @include mq($from: lg) {
    padding: 40px 30px;
  }
}

.guarantees-tile__title {
  position: relative;
  margin-bottom: 16px;
  padding-right: 25px;
  font-weight: 600;
  font-size: rem(18px);
  line-height: 120%;

  @include mq($from: sm) {
    margin-bottom: 20px;
  }

  &::after {
    @include pseudo(true);
    top: 0.5em;
    right: 5px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-color: $color-bg-brand;
  }
}

.guarantees-tile__text,
.guarantees-tile__note {

  @include mq($until: xs) {
    font-size: rem(14px);
  }
}

.guarantees-tile__text {
  margin-bottom: 16px;

  @include mq($from: sm) {
    margin-bottom: 20px;
  }
}

.guarantees-tile__note {
  margin-top: auto;
  opacity: 0.5;
}
