-
  var services = [
    {
      title: `Банкротство<br>юр. лица`,
      subheading: `Эффективная процедура,<br>с понятными сроками и ценами.`,
      icon: 'house',
      list: [
        'Ликвидируем компанию по решению суда и исключим её из ЕГРЮЛ.',
        'Добьемся списания всех долгов перед кредиторами и государственными органами, включая налоговую инспекцию.',
        'Защитим от субсидиарной и уголовной ответственности.',
      ],
      result: 'Предприятие ликвидировано по решению суда и списаны все долги.',
      subject: 'Заголовок письма - 1',
      label: 'Ударный',
    },
    {
      title: `Сохранение<br>активов`,
      subheading: `Здесь все индивидуально и зависит от вашей ситуации. Но главное – мы точно поможем!`,
      icon: 'law',
      list: [
        'Подробно изучим документы по активам предприятия и В течение 3-х дней подготовим позицию (анализ сделок) и пропишем риски.',
        'Уже на стадии предварительного анализа проверим риски привлечения к субсидиарной и уголовной ответственности.',
        'Сформируем отдельную команду по защите, из юристов с обширным успешным опыт банкротства на случай предъявления иска.',
        'Защитим Вас и Вашу семью (с 2019 г. привлекают даже детей) от субсидиарной ответственности.',
      ],
      result: 'Отобьем все претензии и значительно минимизируем потери',
      subject: 'Заголовок письма - 2',
      label: 'Ювелирный',
    },
    {
      title: `Банкротство <br> физ. лица`,
      subheading: `Законный способ<br>избавиться от долгов`,
      icon: 'speak',
      list: [
        'Подробно пропишем стратегию защиты',
        'Возьмём на себя общение с кредиторами, коллекторами, госорганами',
        'Подберём дружественного, надёжного арбитражного/ финансового управляющего.',
      ],
      result: 'Списание всех долгов и возможность начать всё с чистого листа',
      subject: 'Заголовок письма - 3',
      label: 'Надежный',
    },
  ];
