-
  var steps = [
    {
      title: `Оставьте заявку`,
      subtitle: `Достаточно вашего телефона, мы вам перезвоним и обсудим подробности.`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      agreement: `Передавая свои данные, вы даете согласие на <a href="">обработку персональных данных</a>`
    },
    {
      title: `Консультация<br>со стратегом`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      note: `Вы получите ценные советы, <br> а мы понимание вашей ситуации.`
    },
    {
      title: `Составление <br> стратегии`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      note: `У нас есть план – спокойно <br> и последовательно приступаем к работе`
    },
    {
      title: `Оценка бюджета <br> и подписание <br> договора`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      note: `Прозрачный бюджет <br> и понимание результата`
    },
    {
      title: `Проводим процедуру <br> банкротства`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      note: `Прозрачный бюджет <br> и понимание результата`
    },
    {
      title: `Поздравляем <br> со списанием <br> долгов`,
      text: 'Готовим документы, проводим и регистрируем необходимые сделки. Добиваемся успеха на переговорах. Подключаем проверенных контрагентов, обходим подводные камни. Банкроство с максимальной эффективностью.',
      note: `Пора создавать новый бизнес!`
    },
  ];