.action
  .container
    +grid().action__grid
      +col({md: 6}).action__cell
        figure.action-picture.figure-text
          img(src="assets/img/content/oleg.png", alt="")
          figcaption.action-picture__caption.figure-text__caption
            .action-picture__title.figure-text__title Олег Нахимов
            .action-picture__subtitle.figure-text__subtitle.
              руководитель юридического<br>
              департамента
      
      +col({md: 6}).action__cell
        .action__title.
          Важно действовать.<br>
          Пока не поздно.
        .action__desc
          p.
            Инициатором банкротства может выступить любая заинтересованная сторона - 
            фискальные органы, кредиторы.
            В этом случае вы оказываетесь в заведомо 
            проигрышной ситуации. Ваши счета будут заблокированы, активы арестованы
            и руководить предприятием назначен независимы арбитражный управляющий, 
            на которого вы ни как не сможете повлиять. А ведь может еще и начнет работать 
            налоговая проверка.
          p.
            Если на вас, как на физлицо, переведут все долги бизнеса, т.е. привлекут 
            к субсидиарной ответственности, то будет уже поздно защищаться. Потому 
            что банкротство физлица там уже "не прокатит". Этот долг останется 
            с вами пожизненно.
            А если арбитражный управляющий увидит признаки 
            преднамеренного банкротства, то добавиться и уголовное дело
        
        button.btn.btn--primary.btn--lg() Результаты нашей работы
        button.btn.btn--lg() Начать банкротство