/* ==========================================================================
   #ACTION
   ========================================================================== */

.action {
  padding-top: 70px;
  background-color: rgba(#E5E5E5, 0.3);
}

.action__cell:first-child {
  display: flex;
  flex-direction: column;
}
.action__cell:last-child {
  padding-bottom: 60px;
}

.action-picture {
  margin-top: auto;
}

.action-picture__caption {
  left: 4%;
}

.action__title {
  margin-bottom: 30px;
  padding-top: 24px;
  font-size: rem(48px);
  line-height: 120%;
}

.action__desc {
  margin-bottom: 60px;

  p + p {
    margin-top: 20px;
  }
}

.action .btn {
  margin-right: 30px;
  
  &:last-child {
    margin-right: 0;
  }
}
