section.about
  .container
    +grid().about__grid
      +col({md: 6}).about__cell
        img(src="assets/img/content/team.jpg", alt="")
      +col({md: 6}).about__cell
        .about-content
          .about__heading
            h2.about__title Миссия фирмы
            .about__subtitle Цель нашей компании – сохранять бизнес в России!
          p.
            За 20 лет на рынке мы выросли из маленькой фирмы в маленькую фирму 
            высшего класса. В отличие от других, мы не распыляемся. Чем оказывать 
            множество услуг, мы беремся за то, что умеем лучше всего.
          p.
            В основном, это банкротство юр. лиц, ликвидация предприятий, 
            юридическое сопровождение бизнеса, оказание адвокатских 
            и бухгалтерских услуг и защита от субсидиарной ответственности.
          p.
            Мы отстаиваем интересы всех, кто к нам обратился. Для нас важен 
            индивидуальный подход к каждому и сохранение конфиденциальности 
            информации.
