/* ==========================================================================
   #ABOUT
   ========================================================================== */

.about {
  padding-bottom: 60px;
}

.about__grid {
  margin-top: -3rem;

  > * {
    margin-top: 3rem;
  }
}

.about-content {

  @include mq($from: md) {
    padding-left: 36px;
    padding-right: 36px;
  }
  
  p + p {
    margin-top: 20px;
  }
}

.about__heading {
  margin-bottom: 30px;

  > * + * {
    margin-top: 15px;
  }
}

.about__title {
  font-weight: 600;
  font-size: rem(28px);
  line-height: 120%;

  @include mq($from: sm) {
    font-size: rem(32px);
  }
}

.about__subtitle {
  font-weight: 600;
  font-size: rem(16px);
  color: #888888;
}
