/* ==========================================================================
   #STATISTICS
   ========================================================================== */

.statistics {
  padding-top: 60px;
  padding-bottom: 60px;
}

.statistics__grid {
  margin-top: -40px;
}

.statistics__cell {
  margin-top: 40px;
}

.statistics-item {
  width: 100%;
  max-width: 370px;

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 0.5px solid rgba(#888888, 0.5);
  }
}

.statistics-item__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.15;
  color: $color-primary;
}

.statistics-item__text {
  font-weight: 500;
  font-size: rem(16px);
}
