/* ==========================================================================
   #STATISTICS
   ========================================================================== */

.statistics {
  padding-top: 2rem;
  padding-bottom: 60px;

  @include mq($from: md) {
    padding-top: 60px;
  }
}

.statistics__grid {
  margin-top: -40px;
}

.statistics__cell {
  margin-top: 40px;
}

.statistics-item {
  width: 100%;
  max-width: 370px;

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 0.5px solid rgba(#888888, 0.5);
  }
}

.statistics-item__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  color: $color-primary;
  white-space: nowrap;

  @include mq($from: sm) {
    font-size: 40px;
  }
  @include mq($from: md) {
    font-size: 48px;
  }
  @include mq($from: lg) {
    font-size: 64px;
  }
}

.statistics-item__text {
  font-weight: 500;

  @include mq($until: xs) {
    font-size: rem(14px);
  }
}
