-
  var data = [
    {
      title: '1 897',
      text: `Банкротств проведено нашими <br> сотрудниками с 1999 года`
    },
    {
      title: '56%',
      text: `Новых клиентов по рекомендациям <br> от наших  прошлых заказчиков`
    },
    {
      title: '86 млрд.',
      text: `Сумма активов которые мы защитили <br> для наших клиентов за все время работы`
    },
  ]
