///* ========================================================================
//   #CORE
//   ======================================================================== */

// Base typographical styles.

$global-font-size:    16px !default;


$global-spacing-unit:       24px !default;
$global-spacing-unit-tiny:  6px !default;
$global-spacing-unit-small: 12px !default;
$global-spacing-unit-large: 48px !default;
$global-spacing-unit-huge:  96px !default;
