head
  meta(charset="utf-8")
  title= pageTitle || ""
  meta(http-equiv="X-UA-Compatible", content="IE = edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
  <script>document.documentElement.classList.replace("no-js", "js");</script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  //- link(href="fonts/fonts.css" rel="stylesheet")
  link(href="css/main.css" rel="stylesheet")
  link(href="favicon.ico" rel="shortcut icon")