/* ==========================================================================
   #QUESTIONS
   ========================================================================== */

.questions {
  padding-top: 100px;
  padding-bottom: 120px;
}

.questions-slider {
  padding-top: 16px;
  padding-bottom: 80px;
}

.questions-slide {
  box-shadow: $global-shadow;
}

.questions-tile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 35px;
  background-color: #fff;
  text-decoration: none;
  @include basic-transition((background-color));

  &:hover {
    background-color: $color-bg-brand;

    &::after {
      color: $color-body;
    }
  }
}

.questions-tile::after {
  @include pseudo(true, block, '?');
  top: 24px;
  right: 30px;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  color: $color-body-secondary;
  opacity: 0.1;
}

.questions-tile__body {
  padding-bottom: 40px;
}

.questions-tile__title {
  width: 80%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  @include mq($from: xl) {
    font-size: 22px;
  }
}

.questions-tile__text {
  font-size: 14px;
}

.questions-tile__foot {
  display: flex;
  margin-top: auto;
}

.questions-tile__link {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.questions-tile__date {
  font-size: 16px;
}

.questions-slider__wrap {

  .swiper-button-prev {
    left: -50px;

    @include mq($from: xl) {
      left: -110px;
    }
  }

  .swiper-button-next {
    right: -50px;

    @include mq($from: xl) {
      right: -110px;
    }
  }
}


.questions__grid-top {
  margin-top: -36px;
  margin-bottom: 36px;

  @include mq($from: xl) {
    margin-left: -18px;
    margin-right: -18px;
  }

  > [class*=grid__col] {
    margin-top: 36px;

    @include mq($from: xl) {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.questions__grid {
  margin-top: -36px;
  margin-bottom: 80px;

  @include mq($from: xl) {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.questions__grid--inner {
  margin-bottom: 0;
}

.questions__cell {
  display: flex;
  flex-direction: column;
  margin-top: 36px;

  @include mq($from: xl) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.questions__cell-align-self {
  align-items: flex-start;
}

.questions__cell .questions-tile {
  box-shadow: $global-shadow;
}
