/* ==========================================================================
   #QUESTIONS
   ========================================================================== */

.questions {
  padding-top: 80px;

  @include mq($from: lg) {
    padding-top: 100px;
  }

  &--home {
    padding-bottom: 100px;

    @include mq($from: lg) {
      padding-bottom: 120px;
    }
  }
}

.questions-slider {
  padding-bottom: 60px;

  @include mq($from: lg) {
    padding-top: 16px;
    padding-bottom: 80px;
  }
}

.questions-slide {
  height: auto;
  box-shadow: 0 6px 30px rgba(0, 0, 0, .1);

  @include mq($from: lg) {
    box-shadow: $global-shadow;
  }
}

.questions-tile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 24px 20px;
  background-color: #fff;
  text-decoration: none;
  @include basic-transition((background-color));

  &:hover {
    background-color: $color-bg-brand;

    &::after {
      color: $color-body;
    }
  }

  @include mq($from: md) {
    padding: 28px;
  }
  @include mq($from: lg) {
    padding: 35px;
  }
}

.questions-tile::after {
  @include pseudo(true, block, '?');
  top: 18px;
  right: 20px;
  font-weight: bold;
  font-size: 70px;
  line-height: 100%;
  color: $color-body-secondary;
  opacity: 0.1;

  @include mq($from: md) {
    right: 24px;
    font-size: 80px;
  }
  @include mq($from: lg) {
    top: 24px;
    right: 30px;
    font-size: 100px;
  }
}

.questions-tile__body {
  padding-bottom: 20px;

  @include mq($from: lg) {
    padding-bottom: 40px;
  }
}

.questions-tile__title {
  width: 80%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: rem(16px);
  line-height: 130%;

  @include mq($from: sm) {
    font-size: rem(18px);
  }
  @include mq($from: xl) {
    font-size: rem(22px);
  }
}

.questions-tile__text {
  font-size: rem(13px);
  
  @include mq($from: sm) {
    font-size: rem(14px);
  }
}

.questions-tile__foot {
  display: flex;
  margin-top: auto;
}

.questions-tile__link {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.questions-tile__date {
  font-size: 16px;
}

.questions__grid-top {
  margin-top: -36px;
  margin-bottom: 36px;

  @include mq($from: xl) {
    margin-left: -18px;
    margin-right: -18px;
  }

  > [class*=grid__col] {
    margin-top: 36px;

    @include mq($from: xl) {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.questions__grid {
  margin-top: -36px;
  margin-bottom: 80px;

  @include mq($from: xl) {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.questions__grid--inner {
  margin-bottom: 0;
}

.questions__cell {
  display: flex;
  flex-direction: column;
  margin-top: 36px;

  @include mq($from: xl) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.questions__cell-align-self {
  align-items: flex-start;
}

.questions__cell .questions-tile {
  box-shadow: $global-shadow;
}
