section.benefits
  .container
    .benefits__heading.heading.heading--invert
      .heading__module
          p.heading__subtitle Почему именно мы
          h2.heading__title Поиск эффективных решений
      .heading__module
        .heading__desc.
          Каждый предприниматель может оказаться 
          в трудном положении, когда оптимальным 
          способом решения проблем будет банкротство.

    .benefits-block
      img.benefits-block__img-top(src="assets/img/content/dots-angle.svg", alt="")
      img.benefits-block__img-bottom(src="assets/img/content/dots-rectangle.svg", alt="")
      .benefits-block__top
        .benefits-block__top-left
          img(src="assets/img/content/conversation.jpg", alt="")
        .benefits-block__top-right
          p.benefits-block__top-text.
            Мы профильно занимаемся
            банкротством, а каждый 
            специалист отвечает 
            за свое направление.
      
      .benefits-block__main
        +grid().benefits-block__list
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Опыт, заработанный в «бою»
                p.benefits-block__item-text.
                  За 20 с лишним лет работы мы точно поняли, 
                  что формализм недопустим, каким бы простым не казалось дело. Постоянно участвуем в профильных конференциях, прводим внутренние обзоры юридической практики.
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Умом Россию...
                p.benefits-block__item-text.
                  Умеем работать именно в нашем родном 
                  правовом поле  делаем это в любых 
                  регионах от Калининграда до Сахалина. 
                  Ценные проверенные контрагенты практически по любым вопросам
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Конкретно для вас
                p.benefits-block__item-text.
                  У нас два десятка специалистов. С вами будет работать наш юрист или арб. управляющий, 
                  который хорошо представляет специфику вашего бизнеса. Кроме того предложим несколько вариантов решения, плюсы и минусы.
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Такое есть только у нас
                p.benefits-block__item-text.
                  Служба сопровождения 24/7 и психо- логическая поддержка. Неважно в каком часовом поясе вы в данный момент. Мы оперативно отреагируем на все ваши обращения и поможем в любой ситуации.
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Экономим вам время
                p.benefits-block__item-text.
                  Работаем, как требуют соврменные скорости принятия решений.  Удаленное взаимо- действие –- скайп, телефон, WhatsApp. 
                  Сами приедем к вам офис, в удобное 
                  для вас время.
          +col({md: 4})
            .benefits-block__item
              .benefits-block__item-inner
                h3.benefits-block__item-title Не теряем и не забываем
                p.benefits-block__item-text.
                  Используем автоматизированные системы учета. Всем документальным сопровождением занимаются отдельные сотрудники, которые всегда собирают полный пакет документов, вовремя все отправляют и проверяют.
