/* ==========================================================================
   #ICON
   ========================================================================== */

.icon {
  display: inline-flex;
  vertical-align: middle;
  fill: currentColor;
  pointer-events: none;

  &:not([width]),
  &:not([height]) {
    width: 1em;
    height: 1em;
  }

  > svg {
    width: 100%;
    height: auto;
  }
}

.icon--stroked {
  fill: none;
  stroke: currentColor;
}
