.posts
  .container
    +grid().posts-grid-with-aside
      +col({md: 8}).posts__main-cell
        +grid().posts__grid
          each item in [1,2,3,4,5,6]
            +col({md: 6}).posts__cell
              a.post-card.card(href='')
                figure.card-img-wrap
                  img.card-img.lozad(data-src='assets/img/content/news-img.jpg', alt="")
                .card-body
                  .card-meta
                    +icon('eye', 'stroked')
                    | 123 просмотра

                  h3.card-title Lorem ipsum is placeholder text
                  p.card-text Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing. <span class='card-text-ending'>[...]</span>
                  hr
                  .card-foot
                    .card-link(href="") читать полностью
                    .card-comments
                      +icon('comment', 'stroked')
                      | 21

        +pagination('main')
          +pagination-item('', '/prev', '', 'arrow', 'prev')
            +icon('chevron-left', 'stroked')
          +pagination-item('1', '/1', true)
          +pagination-item('2', '/2')
          +pagination-item('3', '/3')
          +pagination-item('', '/next', '', 'arrow', 'next')
            +icon('chevron-right', 'stroked')

      +col({md: 4}).posts__aside-cell
        include ./sidebar
