.posts
  .container
    +grid().layout-with-aside
      +col({md: 8}).layout__main-col
        .case
          .case-content
            .case-label Кейсы

            h2.case-title Исходная задача
            .case-text.content-zone
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Interdum velit laoreet id donec. Rhoncus dolor purus non enim praesent elementum facilisis leo vel. Sit amet nulla facilisi morbi. Ac odio tempor orci dapibus ultrices.

            h2.case-title Работа наших специалистов
            .case-text.content-zone
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Interdum velit laoreet id donec. Rhoncus dolor purus non enim praesent elementum facilisis leo vel. Sit amet nulla facilisi morbi. Ac odio tempor orci dapibus ultrices.

            h2.case-title Результат
            .case-text.content-zone
              p Арест с имущества Клиента был снят, как и запрет на выезд за границу.

          .case-foot.post-foot
            .post-tags
              .post-tags__title Категория:
              .post-tags__list
                a.post-tag(href="") Строительство

      +col({md: 4}).layout__aside-col
        .sidebar
          .sidebar-widget
            +form().search-form#searchform(role="search" method='get' action='/')
              +inputbox
                +label.hidden-visually(for='search-input') Искать
                +input-wrapper
                  +input.input--search(
                    type="search"
                    name="s"
                    id="search-input"
                    placeholder="Кейсы какой отрасли вас интересуют?"
                    required
                  )
                button.btn-search(type='submit')
                  span.hidden-visually Поиск
                  +icon('search', '', true)(width='13' height='13')

          .sidebar-widget
            h6 Описание кейса
            .case-short-desc.
              Lorem ipsum is placeholder text commonly
              used in the graphic, print, and publishing
              industries for previewing layouts
              and visual mockups.

          .sidebar-widget
            h6 Заказчик
            .case-customer Строительная компания “ПИК”
            a.case-customer-link(href="") Читать отзыв ...

          .sidebar-widget
            h6 Информация
            a.case-link(href="" target='_blank')
              | Дело №2030329-329
              +icon('external-link-o', 'stroked', true)(width='14' height='14')

  include ../form-blocks/form-block-post
  include ../related/related


