/* ==========================================================================
   #POST
   ========================================================================== */

.post-thumb {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 50px;
  padding-top: 57%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100% !important;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.post-head {
  margin-bottom: 30px;
}

.post-cats a {
  display: inline-block;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: rem(12px);
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-primary;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.post-title {
  max-width: 370px;
  font-weight: normal;
  font-size: rem(22px);
  line-height: 130%;
}

.post-content {
  padding-bottom: 45px;
}

.post-foot {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(#D3D3D3, .5);
}

.post-tags {
  display: flex;
  font-size: rem(14px);
}

.post-tags__title {
  margin-right: 15px;
  font-weight: 500;
}

.post-tags__list {
  flex-grow: 1;
  min-width: 0;
  display: inline-flex;
}

.post-tags__list a {
  margin-right: 10px;
  color:$color-body-secondary;
  font-style: italic;
  text-decoration: none;

  @include on-event {
    color: $color-primary;
  }
}


/* #COMMENTS
   ========================================================================== */

.comments-area {
  margin-top: 55px;
}

.comment-reply-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: rem(16px);
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.comments-list {
  margin-bottom: 65px;
}

.comments-list .children {
  margin-bottom: 0;
  padding-left: 30px;

  @include mq($from: xs) {
    padding-left: 40px;
  }
  @include mq($from: xl) {
    padding-left: 100px;
  }
}

.comment-content {
  padding-bottom: 35px;

  .comment:not(:first-child) & {
    padding-top: 35px;
  }

  .comment & {
    border-bottom: 1px solid rgba(#D3D3D3, .5);
  }

  .flag__img {
    padding-right: 20px;

    @include mq($from: xs) {
      padding-right: 30px;
    }

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.comments-list .children .comment-content {
  padding-top: 35px;
  border-bottom: 1px solid rgba(#D3D3D3, .5);
}

.comment-head {
  margin-bottom: 20px;
}

.comment-author {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: rem(16px);
  text-transform: uppercase;

  @include mq($until: sm) {
    font-size: rem(14px);
  }
}

.comment-meta {
  font-weight: 500;
  font-size: rem(12px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-body-secondary;

  @include mq($until: sm) {
    font-size: rem(10px);
  }
}

.comment-body {
  color: $color-body-secondary;

  @include mq($until: sm) {
    font-size: rem(14px);
  }
}

.comment-form {

  .inputbox {
    width: 100%;
    margin-top: 28px;
  }

  .form__row {
    margin-top: -28px;
    margin-left: -14px;
    margin-right: -14px;

    .inputbox {
      width: 100%;
      padding-left: 14px;
      padding-right: 14px;

      @include mq($from: xs) {
        width: 50%;
      }
    }
  }

  .input,
  .textarea {
    border-color: #DADADA;
  }

  .btn {
    margin-top: 40px;
  }
}

/* #POST-RELATED
   ========================================================================== */

.post-related__title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: rem(22px);
  line-height: 130%;
}

.post-related-slider {
  padding-bottom: 20px;
}

.post-related-slide {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.post-related-tile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  text-decoration: none;
  @include basic-transition((background-color));

  &:hover {
    background-color: $color-bg-brand;

    hr {
      border-color: $color-body;
    }

    .post-related-tile__text,
    .post-related-tile__link {
      color: $color-body;
    }
  }

  @include mq($from: xl) {
    padding-right: 60px;
  }
}

.post-related-tile__body {
  margin-bottom: auto;
}

.post-related-tile__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: rem(16px);
  line-height: 130%;

  @include mq($from: md) {
    font-size: rem(20px);
  }
}

.post-related-tile__text {
  font-size: 14px;
  color: $color-body-secondary;
}

.post-related-tile hr {
  height: 0;
  border: 0;
  border-top: 1px solid #D3D3D3;
  margin-top: 16px;
  margin-bottom: 20px;
  opacity: 0.5;

  @include mq($from: xs) {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.post-related-tile__link {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-primary;
}

.post-related-slider__wrap {

  .swiper-button-prev {
    left: -50px;

    @include mq($from: xl) {
      left: -110px;
    }
  }

  .swiper-button-next {
    right: -50px;

    @include mq($from: xl) {
      right: -110px;
    }
  }
}

.post-related-slide {
  height: auto;
}