.posts
  .container

    +grid().questions__grid-top
      +col({md: 8})
        +grid().questions__grid.questions__grid--inner
          each item in [1,2]
            +col({sm: 6}).questions__cell
              a.questions-tile(href="" target='_blank')
                .questions-tile__body
                  h3.questions-tile__title Можно ли остановить начисление пени и задолженность?
                  p.questions-tile__text.
                    Очевидно, что Юпитер гасит вращательный
                    зенит. Годовой параллакс последовательно
                    представляет собой непреложный перигей. [...]
                .questions-tile__foot
                  .questions-tile__link Читать ответ
                  .questions-tile__date 20.02.2020

      +col({md: 4, sm: 6})
        .questions__widget
          +form().search-form#searchform(role="search" method='get' action='/')
            +inputbox
              +label.hidden-visually(for='search-input') Искать вопрос
              +input-wrapper
                +input.input--search(
                  type="search"
                  name="s"
                  id="search-input"
                  placeholder="Поиск вопроса..."
                  required
                )
              button.btn-search(type='submit')
                span.hidden-visually Поиск
                +icon('search', '', true)(width='13' height='13')
          .tags
            a(href="") #Помощь бизнесу
            a(href="") #Субсидарная ответственность
            a(href="") #Налоги
            a(href="") #Банкротство
            a(href="") #Арест имущества
            a(href="") #Субсидарная ответственность
            a(href="") #Помощь бизнесу
            a(href="") #Субсидарная ответственность
            a(href="") #Налоги
            a(href="") #Банкротство
          button.btn.btn--primary.btn--wide Задать свой вопрос

    +grid().questions__grid
      each item, index in [1,2,3,4,5,6,7,8,9]
        +col({md: 4, sm: 6}).questions__cell
          a.questions-tile(href="" target='_blank')
            .questions-tile__body
              if index%2
                h3.questions-tile__title Можно ли остановить начисление пени и задолженность?
              else
                h3.questions-tile__title Можно ли остановить?
              p.questions-tile__text.
                Очевидно, что Юпитер гасит вращательный
                зенит. Годовой параллакс последовательно
                представляет собой непреложный перигей. [...]
            .questions-tile__foot
              .questions-tile__link Читать ответ
              .questions-tile__date 20.02.2020

    +pagination()
      +pagination-item('', '/prev', '', 'arrow', 'prev')
        +icon('chevron-left-o', 'stroked')
      +pagination-item('1', '/1', true)
      +pagination-item('2', '/2')
      +pagination-item('3', '/3')
      +pagination-item('', '/next', '', 'arrow', 'next')
        +icon('chevron-right-o', 'stroked')