/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

// .sidebar {
  
// }

.sidebar-widget {
  margin-bottom: 60px;
}

.sidebar-widget h6 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: rem(16px);
  line-height: 1.2;
  text-transform: uppercase;
}
