/* ==========================================================================
   #SWIPER
   ========================================================================== */

.swiper-block {
  position: relative;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-buttons {
  display: flex;

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  .swiper-button-prev {
    margin-right: 8px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 15px;
  opacity: 1;
  color: $color-body;

  &:focus {
    outline: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

.swiper-button-lg {
  font-size: 30px;
}


.swiper-block {

  .swiper-button-prev.swiper-button-lg,
  .swiper-button-next.swiper-button-lg {

    @include mq($until: lg) {
      position: static;
      margin-bottom: 36px;
      font-size: 18px;
    }
  }

  .swiper-button-prev.swiper-button-lg {

    @include mq($from: lg) {
      top: 40%;
      left: -50px;
    }
    @include mq($from: xl) {
      left: -110px;
    }
  }

  .swiper-button-next.swiper-button-lg {

    @include mq($from: lg) {
      top: 40%;
      right: -50px;
    }
    @include mq($from: xl) {
      right: -110px;
    }
  }
}