section.coverage.section
  .container
    .coverage__heading.heading
      .heading__module
        h2.heading__title Проекты по всей России
        p.heading__subtitle Успешно работаем в любом регионе нашей страны

    img.coverage__img(src="assets/img/content/map.svg", alt="")
