-
  var team = [
    {
      img: 'assets/img/content/team/team-1.jpg',
      subtitle: 'Основатель компании',
      subject: 'Заголовок письма для ...'
    },
    {
      img: 'assets/img/content/team/team-2.jpg',
      subtitle: 'Адвокат, 20 лет в компании',
      subject: 'Заголовок письма для ...'
    },
    {
      img: 'assets/img/content/team/team-1.jpg',
      subtitle: 'Адвокат, 20 лет в компании',
      subject: 'Заголовок письма для ...'
    },
    {
      img: 'assets/img/content/team/team-2.jpg',
      subtitle: 'Адвокат, 20 лет в компании',
      subject: 'Заголовок письма для ...'
    },
  ];