/* ==========================================================================
   #FLEX
   ========================================================================== */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-xs-first {
  @include mq($from: xs) {
    order: -1;
  }
}
.order-sm-first {
  @include mq($from: sm) {
    order: -1;
  }
}
.order-md-first {
  @include mq($from: md) {
    order: -1;
  }
}
.order-lg-first {
  @include mq($from: lg) {
    order: -1;
  }
}

.order-xs-last {
  @include mq($from: xs) {
    order: 13;
  }
}
.order-sm-last {
  @include mq($from: sm) {
    order: 13;
  }
}
.order-md-last {
  @include mq($from: md) {
    order: 13;
  }
}
.order-lg-last {
  @include mq($from: lg) {
    order: 13;
  }
}
