.factoid
  .factoid__aside
    .factoid__aside-text Статистика компании
    //- button.btn-close
    //-   +icon('close', 'stroked')
    +icon('piechart', 'stroked').factoid__icon
  .factoid__main
    .factoid__body
      ul.factoid__list
        li.factoid__item Наблюдение <span>28</span>
        li.factoid__item Конкурсное <span>17</span>
        li.factoid__item Внешнее <span>2</span>
        li.factoid__item Медиация <span>5</span>
        li.factoid__item Дел в работе <span>54</span>
    .factoid__foot
      p Обновление 03.2020