/* ==========================================================================
   #FORM-BLOCK
   ========================================================================== */

.about-form-block {
  margin-top: 40px;

  @include mq($from: lg) {
    margin-top: 90px;
  }
}

.post-form-block {
  margin-top: 55px;
  margin-bottom: 80px;
}

.form--shadow { box-shadow: $global-shadow; }

.form-block .form {
  padding: 56px 40px;
  border: 1px solid $color-border-brand;
  text-align: center;
  background-color: #fff;
}

.form__head {
  margin-bottom: 36px;

  > * + * {
    margin-top: 15px;
  }
}

.form__title {
  font-weight: 600;
  font-size: rem(20px);
  line-height: 1.2;

  @include mq($from: sm) {
    font-size: rem(24px);
  }
}

.form__subtitle {
  font-size: 14px;
}

.form__note {
  opacity: 0.5;
}

.form-block .form__row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: -28px;

  @include mq($from: md) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.form-block .inputbox {
  width: 100%;
  max-width: 300px;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 40px;
  }

  @include mq($from: md) {
    margin-top: 0;
    margin-right: 25px;
  }
}
