-
  var data = [
    {
      title: 'Закрытие фирмы',
      text: 'Накопились проблемы с фирмой и требуется закрытие без проверок',
      img: 'assets/img/content/solution/img-1.jpg'
    },
    {
      title: 'Ответственность',
      text: 'Грозит субсидиарная или уголовная ответственность',
      img: 'assets/img/content/solution/img-2.jpg'
    },
    {
      title: 'Безопасность активов',
      text: 'Требуется обезопасить активы от проверок фискальных органов',
      img: 'assets/img/content/solution/img-3.jpg'
    },
    {
      title: 'претензии',
      text: 'Отбиться от выставленных претензий кредиторов и минимизировать потери',
      img: 'assets/img/content/solution/img-4.jpg'
    },
    {
      title: 'Большие долги',
      text: 'Большой объём заемных средств и перспективы возврата туманны',
      img: 'assets/img/content/solution/img-1.jpg'
    },
    {
      title: 'претензии',
      text: 'Отбиться от выставленных претензий кредиторов и минимизировать потери',
      img: 'assets/img/content/solution/img-4.jpg'
    },
    {
      title: 'Большие долги',
      text: 'Большой объём заемных средств и перспективы возврата туманны',
      img: 'assets/img/content/solution/img-1.jpg'
    },
  ];
