/* ==========================================================================
   #SOLUTION
   ========================================================================== */

.solution {
  min-height: 535px;
  padding-top: 120px;
}

.solution__heading {
  margin-bottom: 70px;
}

.solution-slider {

  @include mq($from: xl) {
    width: calc(100vw - 12%);
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide{
    height: auto;
  }
  
  .swiper-buttons {
    margin-bottom: 40px;
  }
}

.solution-card {
  height: 100%;

  .card-img-wrap {
    padding-top: 66.56%;

    &::after {
      @include pseudo(true);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-bg-brand;
      opacity: 0.4;
      @include basic-transition((opacity));
    }
  }

  .card-img {
    filter: grayscale(1) contrast(1.3);
    @include basic-transition((filter));
  }

  .card-body {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fff;
    @include basic-transition((background-color));
  }

  .card-meta {
    font-size: rem(12px);
  }

  .card-title {
    font-weight: bold;
    font-size: rem(16px);
    text-transform: uppercase;
  }

  .card-text {
    font-size: rem(14px);
    line-height: 140%;
  }

}

.solution-card:hover {

  .card-img-wrap::after {
    opacity: 0;
  }

  .card-img {
    filter: grayscale(0) contrast(1);
  }
  
  .card-body {
    background-color: $color-bg-brand;
  }
}