mixin modal(mods)

  -
    // list of modificators
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + '--' + modsList[i].trim();
      }
    }
  .modal-inner(class=allMods)&attributes(attributes)
    block
  
